
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title}}Julie Soules</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Contact</a></li>
      </ul>
      </nav>
      <div class="container">
      {{ content }}
      </div><!--/.container -->
      <footer>
      <ul>
        <li><a href="mailto:soulesj3@gmail.com">email</a></li>
        <li><a href="https://github.com/jasoules">github.com/jasoules</a></li>
        <li><a href="https://jasoules.github.io/blog/atom.xml">RSS Feed</a></li>
        </ul>
        </footer>
      </body>
    </html>
